body {
    background-color: #FEFDF9;
    padding: 10px 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}

.navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    /* padding: 20px 0; */
}

.navbar-logo {
    width: 30%;
    align-items: center;
    align-self: flex-start;
}

.navbar img {
    width: 44px;
    /* padding: 20px 0px 10px 0px; */
}

.navbar-collapse-icon {
    width: 70%;
    /* align-self: flex-end; */
    margin-left: 100px;
    /* padding: 10px 0; */
    height: 17px;
}

.navbar-items {
    display: none;
}

.featured-article {
    display: flex;
    flex-direction: column;
}

.featured-article-image img {
    width: 100%;
}

.featured-article-content {
    width: 85%;
    margin-top: 15px;
}

.featured-article-content h2 {
    margin: 0;
    color: black;
    font-size: 40px;
    font-weight: 800;
    line-height: 1em;
}

.featured-article-content p {
    color: #5E607A;
    line-height: 2em;
}

#featured-read-more-button {
    height: 40px;
    width: 50%;
    background-color: hsl(5, 85%, 63%);
    color: white;
    letter-spacing: .5em;
    text-transform: uppercase;
}

.new-content,
.home-page-articles {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px 20px;
}

.new-content {
    background-color: #00001A;
}