body {
    background-color: #FEFDF9;
    padding: 10px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}

.navbar {
    height: 28px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 32px 0;
}

.navbar-logo,
.navbar-collapse-icon {
    display: flex;
    flex-direction: column;
}

.navbar-logo {
    width: 30%;
}

.navbar-logo img {
    width: 45px;
    height: 100%;
    align-items: center;
    align-self: flex-start;
}

.navbar-collapse-icon {
    justify-content: center;
    width: 70%;
}

.navbar-collapse-icon img {
    width: 40px;
    height: 17px;
    align-items: center;
    align-self: flex-end;  
}

.navbar-items {
    display: none;
    width: 90%;
    height: 300px;
}

.featured-article {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.featured-article-image img {
    width: 100%;
}

.featured-article-content {
    width: 85%;
    margin-top: 15px;
}

.featured-article-content h2 {
    margin: 0;
    color: black;
    font-size: 40px;
    font-weight: 800;
    line-height: 1em;
}

.featured-article-content p {
    color: #5E607A;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 24px;
}

#featured-read-more-button {
    height: 48px;
    width: 185px;
    font-size: 14px;
    font-weight: bold;
    background-color: hsl(5, 85%, 63%);
    color: white;
    letter-spacing: 4.38px;
    text-transform: uppercase;
}

.new-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px 0px;
}

.new-content {
    background-color: #00001A;
    margin-bottom: 64px;
}

.new-content-blurb {
    padding-bottom: 30px;
    border-bottom: 1px solid #5E607A;
    margin-top: 25px;
}

.new-content-heading {
    font-size: 32px;
    font-weight: bold;
    color: #E9AA52;
    margin: 0;
    padding: 0;  
}

.blurb-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0 0 8px 0;
}

.blurb-text {
    font-size: 15px;
    line-height: 26px;
    width: 90%;
    margin: 0;
}

.last-item {
    border: none;
    padding: 0 0 8px 0;
}

.home-page-articles {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.hp-article {
    display: flex;
    flex-direction: row;
}

.hp-article img {
    width: 100px;
    height: 129px;
    margin-bottom: 32px;
}

.hp-article-content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.hp-article-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.hp-article-content h3 {
    font-size: 18px;
    font-weight: 800;
    font-weight: bold;
    color: black;
    margin: 0 0 8px 0;
}

.hp-article-content p {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.navbar-items {
    background-color: black;
    width: 100%;
}
